name: CI
on:
  push:
    branches: main
    paths:
      - '.github/workflows/main.yml'
      - 'action.yml'

  pull_request:
  workflow_dispatch:

jobs:
  ci-test:
    name: Build Kernel
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

    - name: Build Kernel
      uses: ./
      with:
          kernel-url: https://github.com/crdroidandroid/android_kernel_oneplus_sm8550
          kernel-branch: '16.0'
          config: gki_defconfig vendor/kalama_GKI.config vendor/oplus/kalama_GKI.config vendor/debugfs.config
          arch: arm64
          android-version: 16
          aosp-clang: true
          aosp-clang-version: r547379
          ccache: true
          disable-lto: true
          extra-make-args: '["LLVM=1","LLVM_IAS=1"]'
          ksu: true
          ksu-other: true
          ksu-url: https://raw.githubusercontent.com/KernelSU-Next/KernelSU-Next
          ksu-version: next
          ksu-lkm: true
          bbg: true
          anykernel3: true
